.jumbotron
{
	height: auto;
	width: 100%;
}
.first
{
	background-color: #02305A;
	height: 100px;
	width: 100%;
	text-align: center;
	padding-top: 10px;
}
h1
{
	color: white;
}
/*.second
{
	background-color: #196564;
	height: 100px;
	width: 100%;

}*/
#p1
{
	color: white;
	font-size: 15px;
	text-align: center;
	padding-top: 50px;
	background-color: #196564;


}
#txt1
{
	margin-top: 5%;
	border:none;

}
::placeholder
{
	font-family: bold;
	font-size: 20px;

}
#txt2
{
	font-size: 20px;
	padding: 1%;

}
h2
{
	font-size: 20px;
}
#p2
{
	color: black;
	font-size: 20px;
	font-size: 25px;
}
#p4
{
	font-size: 25px;
	color: #C70039;
}
#p5
{
	font-size: 45px;
	padding-top: 13%;
	padding-left: 40%;
	font-family: 'Nerko One', cursive;
	color: #196564;
}
.second
{
	position: absolute;
	margin-left: 50%;
	margin-top:20%;
	display:none;
}
#p6
{
	padding-left: 35%;
	font-family: 'Nerko One', cursive;
	color: #194765;
	font-size: 40px;
}
	